# JB2008 Model Comparisons - jb08 (using Pyatmos) vs CCMC

In [1]:
import sys, os
import requests
import pandas as pd
import numpy as np
import netCDF4 as nc

jb_path = r'D:\GitHub\jb2008\jb08'
sys.path.append(os.path.dirname(jb_path))

In [2]:
import jb08

Running Setup:
Checking for and downloading required files.
...

In [3]:
http_f = r'D:\JB08.2002002.nc'
dat = nc.Dataset(http_f) 
#with requests.get(http_f,stream=True) as r:
#  dat = nc.Dataset('in-mem-file', mode='r', memory=r.content)

In [4]:
dat.variables

{'time': <class 'netCDF4._netCDF4.Variable'>
 float64 time(time)
     long_name: Time
     units: minutes
     axis: T
 unlimited dimensions: time
 current shape = (96,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'ht': <class 'netCDF4._netCDF4.Variable'>
 float32 ht(ht)
     long_name: Height
     units: km
     axis: Z
 unlimited dimensions:
 current shape = (46,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'lat': <class 'netCDF4._netCDF4.Variable'>
 float32 lat(lat)
     long_name: Latitude
     units: degrees_north
     axis: Y
 unlimited dimensions:
 current shape = (37,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'lon': <class 'netCDF4._netCDF4.Variable'>
 float32 lon(lon)
     long_name: Longitude
     units: degrees_east
     axis: X
 unlimited dimensions:
 current shape = (73,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'Temp_exo': <class 'netCDF4._netCDF4.Variable'>
 float32 Temp_exo(time, lat, lon)
     long_name: Exospheric_Temperature
     units: K
 unlimited dimensions: time
 current shape = (96, 37, 73)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'Temp': <class 'netCDF4._netCDF4.Variable'>
 float32 Temp(time, ht, lat, lon)
     long_name: Temperature
     units: K
 unlimited dimensions: time
 current shape = (96, 46, 37, 73)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'DEN': <class 'netCDF4._netCDF4.Variable'>
 float32 DEN(time, ht, lat, lon)
     long_name: Total-Mass-Desnity
     units: kg/m**3
 unlimited dimensions: time
 current shape = (96, 46, 37, 73)
 filling on, default _FillValue of 9.969209968386869e+36 used}

In [5]:
t = pd.to_datetime('2002-01-02')
dt = [pd.to_datetime('2002-01-02')+pd.Timedelta(v, unit='minutes') for v in np.array(dat.variables['time'][:])]
lat = np.array(dat.variables['lat'][::2])
lon = np.array(dat.variables['lon'][::2])
alt = np.array(dat.variables['ht'][::2])
jb_dens = np.array(dat.variables['DEN'][:,::2,::2,::2])

In [6]:
jb_swft = jb08.jb2008(t=dt,lat=lat,lon=lon,alt=alt,dtype='float64')
jb_swft.predict()

Dask Apply:   0%|          | 0/65 [00:00<?, ?it/s]

In [7]:
jb_swft.dat.shape

(1552224, 20)

In [9]:
#(100*(jb_swft.dat['DEN']-jb_dens)/jb_swft.dat['DEN']).abs().describe()

In [10]:
jb_comp = np.swapaxes(jb_dens,0,1)
jb_comp = np.swapaxes(jb_comp,0,2)
jb_comp = np.swapaxes(jb_comp,2,3)
print(jb_dens.shape)
print(jb_comp.shape)

x, _, _, _ = np.meshgrid(dt,lat,lon,alt)
x.shape

(96, 23, 19, 37)
(19, 96, 37, 23)

(19, 96, 37, 23)

In [11]:
(100*(jb_swft.dat['DEN']-jb_comp.flatten())/jb_swft.dat['DEN']).abs().describe()

count    1.552224e+06
mean     1.248868e+00
std      1.802540e+00
min      0.000000e+00
25%      2.886324e-01
50%      7.252681e-01
75%      9.007875e-01
max      1.186699e+01
Name: DEN, dtype: float64

In [12]:
(100*(jb_swft.dat['DEN']-jb_comp.flatten())/jb_swft.dat['DEN']).abs().argmax()

900467

In [27]:
print(lat[11]) #11
print(lon[4]) #4
print(alt[-6])
print(dt[2])
print(jb_dens[2,-6,11,4])

20.0
40.0
780.0
2002-01-02 00:30:00
3.3435423e-14

In [23]:
print(jb_swft.lat[900467])
print(jb_swft.lon[900467])
print(jb_swft.t[900467])
print(jb_swft.alt[900467])
print(jb_swft.dat['DEN'][900467])

20.0
40.0
2002-01-02T00:30:00.000000000
780.0
2.988855e-14

In [35]:
jb_swft = jb08.jb2008(t=['2002-01-02 00:30:00','2001-01-02 00:00:00'],lat=20,lon=40,alt=780,dtype='float32')

In [36]:
jb_swft.predict()
jb_swft.dat

100%|██████████| 2/2 [00:00<00:00, 2000.14it/s]

,F10,F10B,S10,S10B,M10,M10B,Y10,Y10B,DTCVAL,AMJD,YRDAY,SUN_RA,SUN_DEC,SAT_RA,SAT_LAT,SAT_LON,SAT_ALT,DEN,TEMP,EXO_TEMP
0,232.199997,225.199997,225.000000,212.000000,232.000000,211.800003,202.600006,179.199997,31.0,52276.020833,1.020833,4.928728,-0.400547,2.600221,0.349066,0.698132,780.0,2.988855e-14,1190.254639,1191.416016
1,169.500000,172.300003,178.899994,183.300003,178.199997,175.500000,167.899994,164.600006,17.0,51911.000000,1.000000,4.933313,-0.400189,2.473145,0.349066,0.698132,780.0,1.270738e-14,958.169739,958.930420

In [16]:
print(jb_swft.dat[0:10]['DEN'])
print(jb_comp.flatten()[0:10])

0    4.072406e-07
1    3.367900e-09
2    6.703345e-10
3    2.284109e-10
4    9.428235e-11
5    4.402195e-11
6    2.220295e-11
7    1.184050e-11
8    6.588433e-12
9    3.790228e-12
Name: DEN, dtype: float32
[4.07267407e-07 3.36414230e-09 6.68375133e-10 2.26762886e-10
 9.31784996e-11 4.33117188e-11 2.17531045e-11 1.15552125e-11
 6.40601591e-12 3.67238011e-12]